---
layout:   default
---
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<body>

<!-- Blog list -->
<div id="articlelist" class="w3-container w3-padding-32">
  <div class="w3-center">
    <h2>文章列表</h2>
  </div>
  <table class="w3-table w3-striped w3-bordered">
    <tr>
      <th>日期</th>
      <th>作者</th>
      <th>標題</th>
    </tr>
    {% assign articles = (site.articles | sort: 'date') %}
    {% for article in articles reversed %}
    <tr>
      <th>{{ article.date | date: "%Y-%m-%d" }}</th>
      <th>{{ article.author }}</th>
      <th>{{ article.title }}</th>
      <th><a href="#{{ article.index }}"><i class="fa fa-file-text"></a></th>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- Blog entry -->
{% for article in articles reversed %}
<div id="{{ article.index }}" class="w3-container w3-padding-32">
  <div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
      <h3>{{ article.title }}</h3>
      <h5>作者：{{ article.author }} <span class="w3-opacity">{{ article.date | date: "%Y-%m-%d"  }}</span></h5>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-container w3-half w3-display-container">
      {% for photoNum in (1..article.num_photo) %}
      <img class="mySlides slides_{{ article.index }}{% if article.vertical == true %} img-vertical {% endif %}" src="/public/img/{{ article.photo }}/{{ article.photo }}_{{ photoNum }}.jpg" style="width:90%">
      {% endfor %}

      <div class="w3-center w3-section w3-large w3-text-white" style="width:100%">
        <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs_{{ article.index }}(-1, 'slides_{{ article.index }}')">&#10094;</div>
        <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs_{{ article.index }}(1, 'slides_{{ article.index }}')">&#10095;</div>
        {% for photoNum in (1..article.num_photo) %}
        <span class="w3-badge dots_{{ article.index }} w3-border w3-transparent w3-hover-gray" onclick="currentDiv_{{ article.index }}({{ photoNum }}, 'slides_{{ article.index }}')"></span>
        {% endfor %}
      </div>
    </div>

    <div class="w3-container w3-half">
      {{ article.abstract }}
      <br>
      <p class="w3-left"><a class="w3-btn w3-white w3-border" href="{{ article.link }}" target="_blank"><b><i class="fa fa-facebook-square"></i> Link</b></a>   <a class="w3-btn w3-white w3-border" href="#articlelist"><b><i class="fa fa-eject"></i> List</b></a></p>
    </div>
  </div>
</div>
{% endfor %}



<script>
// Slideshow

{% for article in site.articles %}
  var slideIndex_{{ article.index }} = 1;
  showDivs_{{ article.index }}(1, "slides_{{ article.index }}");

  function plusDivs_{{ article.index }}(n, className) {
    showDivs_{{ article.index }}(slideIndex_{{ article.index }} += n, className);
  }

  function currentDiv_{{ article.index }}(n, className) {
    showDivs_{{ article.index }}(slideIndex_{{ article.index }} = n, className);
  }

  function showDivs_{{ article.index }}(n, className) {
    var i;
    var x = document.getElementsByClassName(className);
    if (n > x.length) {slideIndex_{{ article.index }} = 1}
    if (n < 1) {slideIndex_{{ article.index }} = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    var dots = document.getElementsByClassName("dots_{{ article.index }}");
    for (i = 0; i < dots.length; i++) {
       dots[i].className = dots[i].className.replace(" w3-gray", "");
    }
    x[slideIndex_{{ article.index }}-1].style.display = "block";
    dots[slideIndex_{{ article.index }}-1].className += " w3-gray";
  }
{% endfor %}
</script>
