---
layout:   default
---

<div class="w3-container w3-content w3-padding-16" style="max-width:800px">
  <h2 class="w3-wide w3-center">影音專區</h2>
</div>

{% assign counter = 0 %}
{% for video in site.videos %}
  {% assign mod = counter | modulo:2 %}
  {% if mod == 0 %}
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-half">
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="{{ video.src }}" width="640" height="360" frameborder="0" style="position:absolute;width:80%;height:80%;left:10%" allowfullscreen></iframe></div>
        <h3>{{ video.title }}</h3>
      </div>
  {% endif %}
  {% if mod == 1 %}
      <div class="w3-half">
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="640" height="360" src="{{ video.src }}" frameborder="0"style="position:absolute;width:80%;height:80%;left:10%" allowfullscreen></iframe></div>
        <h3>{{ video.title }}</h3>
      </div>
    </div>
  {% endif %}
  {% assign counter = counter | plus: 1 %}
{% endfor %}
{% assign mod = counter | modulo:2 %}
{% if mod == 1  %}
    </div>
{% endif %}
