---
layout:   default
---

<!-- Test -->


<!-- Menu Container -->
<div class="w3-container">
  <div class="w3-content w3-padding-32" style="max-width:1500px">
    <h2 class="w3-wide w3-center w3-padding-32">票選專區</h2>
    <div class="w3-row w3-card-2 w3-padding">
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'Vote');" id="default" style="text-decoration:none">
          <div class="s6 tablink" style="20%">投票</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'PI');" style="text-decoration:none">
          <div class="s6 tablink" style="20%">投手人選</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'CA');" style="text-decoration:none">
          <div class="s6 tablink">捕手人選</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%;">
        <a href="javascript:void(0)" onclick="openMenu(event, 'IF');" style="text-decoration:none">
          <div class="s6 tablink" style="20%">內野人選</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'OF');" style="text-decoration:none">
          <div class="s6 tablink" style="20%">外野人選</div>
        </a>
      </div>
    </div>


    {% assign counter = 0 %}
    <div id="IF" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'IF' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    {% assign counter = 0 %}
    <div id="OF" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'OF' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    {% assign counter = 0 %}
    <div id="PI" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'PI' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    {% assign counter = 0 %}
    <div id="CA" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'CA' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-margin-bottom w3-padding-8">
            <div class="w3-card-4">
              <a class='gallery' href='/public/img/nomination/{{ nominee.photo }}_big.jpg'><img src="/public/img/nomination/{{ nominee.photo }}_small.jpg" style="width:100%" class="w3-hover-opacity"></a>
              <div class="w3-container w3-white w3-padding-8">
                <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
                <p>經歷：{{ nominee.experience }}</p>
                <p>紀錄：<br>{{ nominee.record }}</p>
                <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
                <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                  <p>{{ nominee.intro }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    <div id="Vote" class="w3-container menu w3-padding-48 w3-card-2">
<h6 class="w3-wide w3-center w3-padding-32">※每日23:50-00:10維護期間暫停投票　※手機投票建議使用「切換為電腦版網站」</h6>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdMk2tsywLd_YXL8XM4yNuT1XRA5CfPcRbzUi0z200g8_49-g/viewform?embedded=true" width="100%" height="1200px" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
    </div>

  </div>
</div>


<script>

// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-theme-d3", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-theme-d3";
}
document.getElementById("default").click();

// collapse
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// colorbox
 jQuery('a.gallery').colorbox();
 $(".gallery").colorbox({
  width: "50%"
});

</script>
