---
layout:   default
---

<!-- Test -->


<!-- Menu Container -->
<div class="w3-container">
  <div class="w3-content w3-padding-32" style="max-width:1500px">
    <h2 class="w3-wide w3-center w3-padding-32">提名人選</h2>
    <div class="w3-row w3-card-2 w3-padding">
      <div class="w3-col w3-container w3-center" style="width:20%;">
        <a href="javascript:void(0)" onclick="openMenu(event, 'IF');" id="default" style="text-decoration:none">
          <div class="s6 tablink" style="20%">內野</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'OF');" style="text-decoration:none">
          <div class="s6 tablink" style="20%">外野</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'PI');" style="text-decoration:none">
          <div class="s6 tablink" style="20%">投手</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'CA');" style="text-decoration:none">
          <div class="s6 tablink">捕手</div>
        </a>
      </div>
      <div class="w3-col w3-container w3-center" style="width:20%">
        <a href="javascript:void(0)" onclick="openMenu(event, 'Vote');" style="text-decoration:none">
          <div class="s6 tablink" style="20%">投票</div>
        </a>
      </div>
    </div>


    {% assign counter = 0 %}
    <div id="IF" class="w3-row-padding menu w3-padding-32">
      <h3 class="w3-center w3-padding-16">(測試中)</h3>
      <div class="w3-padding-32">
        <canvas id="chart_IF" width="100" height="70"></canvas>
      </div>
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'IF' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    {% assign counter = 0 %}
    <div id="OF" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'OF' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    {% assign counter = 0 %}
    <div id="PI" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'PI' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    {% assign counter = 0 %}
    <div id="CA" class="w3-row-padding menu w3-padding-32">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'CA' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p>經歷：{{ nominee.experience }}</p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a class="w3-btn w3-white w3-border" onclick="myFunction('{{ nominee.ID }}')"><b>查看球員介紹↓</b></a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    <div id="Vote" class="w3-container menu w3-padding-48 w3-card-2">
      <p>提名期間投票表單尚未開放！</p>
    </div>

  </div>
</div>


<script>
var ctx_IF = document.getElementById("chart_IF");
var myChart_IF = new Chart(ctx_IF, {
    type: 'horizontalBar',
    data: {
        labels: ['李彥頡', '李政泓', '簡珜任', '余中睿', '林資峻', '張朝翔', '吳宥靚', '林華宗', '陳竑瑋', '賴昶亙', '林敬根', '呂翔禾', '葉競仁', '黃靖天', '小柿喜朗', '吳仲民', '廖于鈞', '劉員成', '翁義軒', '李建皜', '林厚和', '詹家昕', '蕭清元', '忻振宇', '楊仲涵', '簡書廷', '林俊佑', '何長庭', '徐聖龍', '楊庭彰', '林大鈞', '魏士傑', '何光展', '劉晏昀', '鄭士淮'],
        datasets: [{
            label: '# of Votes',
            data: [90,73,72,64,62,62,61,55,53,51,47,45,40,34,32,31,31,30,28,24,21,20,20,18,17,16,15,14,10,9,7,5,5,4,1],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                barThickness: 10
            }],
            xAxes: [{
                categoryPercentage: 0.2
            }]
        }
    }
});
</script>

<script>

// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-theme-d3", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-theme-d3";
}
document.getElementById("default").click();

// collapse
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>
