---
layout:   default
---

<!-- Menu Container -->
<div class="w3-container">
  <div class="w3-content w3-padding-32" style="max-width:1500px">
    <h2 class="w3-wide w3-center w3-padding-32">提名人選</h2>
    <div class="w3-row w3-center w3-card-2 w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'IF');" id="default">
        <div class="w3-col s6 tablink">內野</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'OF');">
        <div class="w3-col s6 tablink">外野</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'P');">
        <div class="w3-col s6 tablink">投手</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'C');">
        <div class="w3-col s6 tablink">捕手</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Vote');">
        <div class="w3-col s6 tablink">投票</div>
      </a>
    </div>

    <div id="IF" class="w3-row-padding menu">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'IF' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    <div id="OF" class="w3-row-padding menu">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'OF' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    <div id="P" class="w3-row-padding menu">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'P' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    <div id="C" class="w3-row-padding menu">
      <ul class="w3-ul">
      {% assign players = (site.nominations | where: 'position', 'C' | sort: 'ID' ) %}
      {% for nominee in players %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% if mod != 0 %}
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="/public/img/nomination/{{ nominee.photo }}.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ nominee.ID }}　{{ nominee.name }}／{{ nominee.department }}</b></p>
              <p><b>經歷：{{ nominee.experience }}</b></p>
              <p>紀錄：<br>{{ nominee.record }}</p>
              <a onclick="myFunction('{{ nominee.ID }}')">球員介紹</a><br>
              <div id="{{ nominee.ID }}" class="w3-container w3-hide">
                <p>{{ nominee.intro }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
      {% assign mod = counter | modulo:3 %}
      {% if mod == 0 %}
      </div>
      {% endif %}
      </ul>
    </div>

    <div id="Vote" class="w3-container menu w3-padding-48 w3-card-2">
      <p>尚未出爐！</p>
    </div>

  </div>
</div>

<script>

// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-theme-d3", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-theme-d3";
}
document.getElementById("default").click();

// collapse
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>
