html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}

.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.bgimg {
    background-image: url('/images/vote.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.transbox {
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.mysection-first {
    padding-top: 64px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.mysection {
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
