<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-theme-d4 w3-xlarge">
  <a href="https://www.facebook.com/台大棒球明星賽2017-NTU-Baseball-ASG-815683195240466/" target="_blank"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
  <a href="https://www.youtube.com/channel/UCetqNwWDvgm-Ogy2e0tNeeg" target="_blank"><i class="fa fa-youtube w3-hover-text-purple"></i></a>
  <p class="w3-medium">Copyright © 2017 by The NTU Baseball All Star Game Group. All Rights Reserved.</a></p>
</footer>


