<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d5 w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-opennav w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-hover-theme w3-button w3-padding-large">首頁</a>
    <a href="/about" class="w3-bar-item w3-hover-theme w3-button w3-padding-large w3-hide-small">明星賽簡介</a>
    <a href="/article" class="w3-bar-item w3-hover-theme w3-button w3-padding-large w3-hide-small">相關文章</a>
    <a href="/photo" class="w3-bar-item w3-hover-theme w3-button w3-padding-large w3-hide-small">照片花絮</a>
    <a href="/video" class="w3-bar-item w3-hover-theme w3-button w3-padding-large w3-hide-small">影音專區</a>
    <a href="/vote" class="w3-bar-item w3-hover-theme w3-button w3-padding-large w3-hide-small">票選網站</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-navblock w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#about" class="w3-padding-large">明星賽簡介</a>
  <a href="#article" class="w3-padding-large">相關文章</a>
  <a href="#photo" class="w3-padding-large">照片花絮</a>
  <a href="#video" class="w3-padding-large">影音專區</a>
  <a href="#vote" class="w3-padding-large">票選網站</a>
</div>
